<!DOCTYPE html>
<html>

<script>
    function launchTesting() {
        window.location.href = '/launch';
    }
</script>

<head>
    <!-- Bulma Version 1-->
    <title>Pro-Pilot Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .mobile-only {
            display: none;
        }
        @media(max-width: 500px) {
          .mobile-only {
          display: block;
            }
          .mobile-remove {
            display: none;
          }
        }
    </style>
</head>

<body>
    <section class="hero is-white is-fullheight">

        <div class="hero-body">

            <div class="container">
                <div class="columns  is-vcentered reverse-columns">
                    <div class="column
                      is-5-desktop
                      is-5-widescreen
                      is-5-fullhd ">

                        <div class="block mobile-only">
                            <figure class="image is-5by4">
                                <img src="{{url_for('static', filename='pro-graphic.png')}}">
                            </figure>
                        </div>

                        <h2 class="subtitle subtitled is-3 mb-6">
                            Can AI-assistants help workers deal with challenging client interactions?
                        </h2>
                        <div class="content">
                            <p style="text-align: left;">We are&nbsp; researchers from <em>Northeastern University</em> focused on improving Human-Computer Interaction and Personal Health Informatics.&nbsp;We are seeking individuals with experience in client/customer-facing to test our prototype AI-coworker, Pro-Pilot:</p>

                            <ul>
                                <li>90 minute study over Zoom&nbsp;</li>
                                <li>Include user testing, interviewing and design exercises</li>
                                <li>We will record the audio and screen of your session for analysis.</li>
                            </ul>
                                 Earn up to $50 in the form of an Amazon Gift card on completing the study.<br />
                                <br />
                                Help shape future of coworking with AI!<br />
                                <br />
                                If you&#39;re interested, please click "Join Study" to see if you are eligible to participate:
                        </div>
                    </div>
                    <div class="column
                      is-7-desktop
                      is-7-widescreen
                      is-6-fullhd is-offset-1-fullhd">
                        <div class="block mobile-remove">
                            <figure class="image is-5by4">
                                <img src="{{url_for('static', filename='pro-graphic.png')}}">
                            </figure>
                        </div>

                        <div class="columns">

                            <div class="block column">
                                <div class="block">
                                    <div class="buttons">
                                        <button class="button is-primary" onclick=" window.open('https://neu.co1.qualtrics.com/jfe/form/SV_dmtvecyXQvZcNaC','_blank')">Join Study</button>
<!--                                        <button class="button is-primary" onclick="launchTesting();">Test Prototype</button>-->
                                    </div>
                                </div>

                                Contact: <a href="https://vedantswain.com/">Dr. Vedant Das Swain</a> </br>
                                Mail: <a href="mailto:v.dasswain@northeastern.edu">v.dasswain@northeastern.edu</a>
                            </div>

                            <figure class="image column" >
                                <img src="{{url_for('static', filename='N-Motto Wordmark_RGB_186+K.png')}}"
                                     style="
                                    height: 6em;
                                    width: unset;">
                            </figure>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>


    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>