<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writing Task</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='summative.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div class="modal" id="transition-modal">
        <div class="modal-card">
            <div class="modal-content" >

                <div class="block is-size-4" id="transition-blurb">
                    <p>You will now be shown excerpts from conversations between a Client (on the left; in yellow) and a Representative (on the right; in grey).</p>
                    <p>&nbsp;</p>
                    <p> Please read these excerpts carefully.</p>
                    <p>&nbsp;</p>
                    <p> Follow the instructions in prompts below the excerpts and write appropriate messages.</p>
                </div>


            </div>
            <footer class="modal-card-foot">
                <button class="button is-success" id="summativeNextBtn">Next</button>
            </footer>
        </div>
</div>


<div class="modal" id="personality-modal">
    <form id="summativePhaseIPersonality">
        <div class="modal-card">
            <header class="modal-card-head">
            </header>
            <div class="modal-content"  id="personality-survey">

                <!-- Interaction -->
                <div class="block survey-section" id="qPers">
                    <div class="control content">
                        <h5>Think of a coworker you have provided social support to in the past. Enter their initials into the box below.</h5>
                        <input class="input" type="text" name="pers1" placeholder="Initials only" />
                    </div>

                    <div class="box control content">
                        <h5>Which of the following does your coworker most embody?.</h5>
                        <div class="radios">
                            <label class="radio radio-pers">
                                <input type="radio" name="personality" />
                                <p>They are organized and dependable. They tend to remain composed when facing challenges, but are prone to setting unrealistic expectations.</p>
                            </label>
                            <label class="radio radio-pers">
                                <input type="radio" name="personality" />
                                <p>They are organized and dependable. They tend to remain composed when facing challenges, but are prone to setting unrealistic expectations.</p>
                            </label>
                            <label class="radio radio-pers">
                                <input type="radio" name="personality" />
                                <p>They are detail-oriented and reliable but might appear distant. They tend to work carefully, but are prone to overthinking.</p>
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <footer class="modal-card-foot">
                <button class="button is-success" type="submit" id="summativePersonalityBtn">Next</button>
            </footer>
        </div>
    </form>
</div>

<div class="modal" id="survey-modal">
    <form id="summativePhaseI">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="instruction">Read the excerpt below carefully and respond to the prompts.</p>
            </header>
            <div class="modal-content"  id="main-survey">

                <div class="block is-size-4" id="qContainer">
                </div>

                <!-- Interaction -->
                <div class="block survey-section" id="qPrompts">

                    <div class="control content">
                        <h5>Describe an emotion the representative would feel in this situation (1 word).</h5>
                        <input class="input" type="text" name="dat1" placeholder="1 word" />

                    </div>
                    <div class="control content">

                        <h6>Which of the following corresponds best with the emotion above: {sadness, fear, anger, happiness}?</h6>
                        <input class="input" type="text" name="dat2" placeholder="1 word" />

                    </div>
                    <div class="control content">

                        <h6>Write what the representative might have thought to feel that emotion? (1-2 lines)</h6>
                        <textarea class="textarea" name="dat3" placeholder="[Write in 1st person as if you are the representative]]" rows="3"></textarea>
                    </div>

                    <div class="control content">

                        <h6>Write an empathetic message addressed to this representative to help them reframe the thought above and overcome their negative emotion. (1-2 lines)</h6>
                        <textarea class="textarea" name="dat4" placeholder="[Write as if you are a co-worker communicating with the representative]]" rows="3"></textarea>
                    </div>
                </div>


            </div>
            <footer class="modal-card-foot">
                <button class="button is-success" type="submit" id="summativeSubmitBtn">Next</button>
                <progress class="progress is-primary" value="0" max="100" id="progress-bar"></progress>
                <progress class="progress is-small is-primary" max="100" id="progress-loader" style="display: none;"></progress>
            </footer>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='phase1_survey.js') }}"></script>

</body>
</html>
